<body>
  <div class="cadastro">
    <h1>Escolha o cadastro que deseja fazer</h1>
    <select (change)="onOptionChange($event)">    
      <option value="" disabled>Selecione uma opção</option>
      <option value="cliente">Cliente</option>
      <option value="colaborador">Colaborador</option>
      <option value="administrador">Administrador</option>
      <option value="filme">Filme</option>
      <option value="produto">Produto</option>
    </select>

    <div *ngIf="selectedOption === 'cliente'">    
      <app-cadastro-cliente></app-cadastro-cliente>
    </div>

    <div *ngIf="selectedOption ===  'colaborador' || selectedOption === 'administrador'">
      <app-cadastro-colaborador></app-cadastro-colaborador>
    </div>

    <div *ngIf="selectedOption === 'filme'">    
      <app-cadastro-filme></app-cadastro-filme>
    </div>

    <div *ngIf="selectedOption === 'produto'">    
      <app-cadastro-produto></app-cadastro-produto>
    </div>

  </div>
</body>