<header>
  <nav>
    <div class="logo">
      <img src="./assets/logos/logoMovieMaker.png" alt="">
      <h1>MovieMaker</h1>
      <img src="./assets/logos/logoMovieMaker.png" alt="">
    </div>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a href="#cartaz">Em cartaz</a></li>
      <li><a href="#promocoes">Produtos</a></li>
      <li><a routerLink="/cadastro">Cadastros</a></li>
    </ul>
  </nav>
  <div class="imagemUsuario">
    <a routerLink="login"><img src="./assets/logos/user.png" alt="user"></a>
  </div>
</header>
