<footer>
  <nav>
    <div class="logo">
      <img src="./assets/logos/logoMovieMaker.png" alt="">
      <h1>MovieMaker</h1>      
      <img src="./assets/logos/logoMovieMaker.png" alt="">
    </div>
    <li>Dúvidas? Entre em contato conosco pelos telefones 08000-3131-5000 ou 0800-777-9000</li>
    <li>E-mail: moviemaker@email.com</li>

    <div class="contatos">
      <a href="facebook"><img src="./assets/logos/logoFacebook.png" alt="logoFacebook"></a>
      <a href="linkedin"><img src="./assets/logos/logoLinkedin.png" alt="logoLinkedin"></a>
      <a href="twitter"><img src="./assets/logos/logoTwitter.png" alt="logoTwitter"></a>
      <a href="instagram"><img src="./assets/logos/logoInstagram.png" alt="logoInstagram"></a>
    </div>
  </nav>

  <img src="./assets/bandeiraCartoes.png" alt="bandeiraCartoes">
</footer>
