<div class="content">
  <form [formGroup]="cadastroForm" (ngSubmit)="addMovie()">
      <div class="conjunto">
        <div class="input">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" formControlName="title" required><br><br>
        </div>

        <div class="sinopse">
          <label for="sinopse">Sinopse:</label>
          <input type="text" id="duracao" formControlName="synopsis" required><br><br>
        </div>        
      </div>
      
      <div class="conjunto">
        <div class="input">
          <label for="faixaEtaria">Faixa etária:</label>
          <input type="text" id="faixaEtaria" formControlName="minimumAge" required><br><br>
        </div>

        <div class="input">
          <label for="duracao">Duração:</label>
          <input type="text" id="duracao" formControlName="duration" required><br><br>
        </div>
      </div>

      <div class="conjunto">
        <div class="input">
          <label for="genero">Código do gênero:</label>
          <input type="text" id="genero" formControlName="genreID" required><br><br>
        </div>

        <div class="input">
          <label for="diretor">Diretor:</label>
          <input type="text" id="diretor" formControlName="director" required><br><br>
        </div>
      </div>
    <button type="submit" [disabled]="userForm.invalid">Cadastrar</button>
  </form>
</div>