<div class="content">
  <form id="cadastroFilme">
      <div class="conjunto">
        <div class="input">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" required><br><br>
        </div>

        <div class="input">
          <label for="duracao">Duração:</label>
          <input type="text" id="duracao" name="duracao" required><br><br>
        </div>
      </div>
      
      <div class="conjunto">
        <div class="input">
          <label for="faixaEtaria">Faixa etária:</label>
          <input type="text" id="faixaEtaria" name="faixaEtaria" required><br><br>
        </div>

        <div class="input">
          <label for="genero">Genero:</label>
          <input type="text" id="genero" name="genero" required><br><br>
        </div>
      </div>

    <button type="submit">Cadastrar</button>
  </form>

  <script>
      document.getElementById('cadastroForm').addEventListener('submit', function(event) {
          event.preventDefault();
          // Aqui você pode adicionar a lógica para processar o formulário
          alert('Cadastro efetuado com sucesso!');
      });
  </script>
</div>