<div class="content">
  <form [formGroup]="cadastroForm" (ngSubmit)="addUser()">
    <div class="conjunto">
      <div class="input">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" formControlName="firstName" required><br><br>
      </div>

      <div class="input">
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" id="sobrenome" formControlName="lastName" required><br><br>
      </div>
    </div>

    <div class="conjunto">
      <div class="input">
        <label for="cpf">CPF:</label>
        <input type="text" id="confirmacaoSenha" formControlName="cpf" required><br><br>
      </div>

      <div class="chk">
        <label for="status">Administrador:</label>
        <input type="checkbox" id="status" formControlName="isAdmin" [value]="">
      </div>
    </div>
    
    <div class="conjunto">
      <div class="input">
        <label for="password">Senha:</label>
        <input type="password" id="password" formControlName="password" required><br><br>
      </div>
    
      <div class="input">
        <label for="passwordConfirmation"> Confirmação da senha:</label>
        <input type="password" id="passwordConfirmation" formControlName="passwordConfirmation" required><br><br>
      </div>
    </div>

    <button type="submit" [disabled]="userForm.invalid">Cadastrar</button>
    <button type="button" [disabled]="cpf.invalid" (click)="fetchEmployee()">Buscar</button>
    <button type="button" [disabled]="userForm.invalid" (click)="updateUser()">Alterar</button>
    <button type="button" [disabled]="cpf.invalid" (click)="deleteUser()">Excluir</button>
  </form>
</div>