<div>
  <h1>Filmes em cartaz</h1>
  <div class="filmes">
      <table border="1">
        <thead>
          <tr>
            <th>Título</th>
            <th>Gênero</th>
            <th>Duração</th>
            <th>Carrinho</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies">
            <td>{{ movie.title }}</td>
            <td>{{ movie.synopsis }}</td>
            <td>{{ movie.duration }} min</td>
            <td><button>Adicionar</button></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>