body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    text-align: center;
    color: black;
}

form {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

form button {
    background-color: black;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: black;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* div{
    background-color: #7A5CFA;
    color: white;
    min-height: 50vh;
    padding: 20px;
}

h1{
    padding-left: 100px;
}

.filmes ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    padding: 10px 10px;
    gap: 10px;
}

li{
    max-width: 300px;
    max-height: 200px;
    padding-left: 10px;
}

li a {
    max-width: inherit;
    max-height: inherit;
    display: block;
}

li a img {
    max-width: inherit;
    max-height: inherit;
    object-fit: center;
    object-position: center center;
} */
