/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

body{
    min-height: 100dvh;
    display: grid;
    /* grid-template-rows: repeat(3, auto); */
    display: block;
    max-width: 100dvw;
}